/* css styles */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

p {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

h1,h2 {
  font-size: 16pt;
}
h3,h4 {
  font-size: 14pt;
}

.profile-photo {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin-bottom: 20px;
}